/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.intro {
  margin-top: 200px;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* Jumbotron */
.jumbotron {
  background-image: url(img/me.jpg);
  background-size: cover;
  height: 700px;
  background-position: center -600px;
}

.photo {
  height: 300px;
  width: 200px;
  background-size: cover;
}

/* Picture Profile */
.photo {
  height: 400px;
  width: 250px;
  padding: 20px;
  border-right: 5px solid black;
}

.left {
  width: 40%;
  float: left;
}
.content {
  clear: both;
}

.main-content {
  padding: 50px;
}


/* line Main */
.line-main{
  width: 20%;
  text-align: left;
  display: inline-block;
}


.social-media {
  clear: left;
}